svg circle {
  stroke-width: 10px;
}

.container {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

 html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 0.2rem;
  margin-bottom: 0.2rem;
}
